@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap%27');

$primary: #26293b;
$secondary: whitesmoke;
$primary-font: 'Open Sans', sans-serif;

html,
body {
  background-color: $primary;
  margin: 0;
  padding: 0;
}

#mainContainer {
  text-align: center;
  background-color: $secondary;
  padding: 0px;
  margin: 0;
}

#mainHeader {
  background: rgb(141, 202, 251);
  background: linear-gradient(
    90deg,
    rgba(141, 202, 251, 1) 0%,
    rgba(112, 193, 223, 1) 10%,
    rgba(112, 193, 223, 1) 90%,
    rgba(141, 202, 251, 1) 100%
  );
  border-style: solid;
  border-color: $primary;
  color: $primary;
  margin: 0;
  font-family: $primary-font;
}

#containerHolder {
  color: $primary;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
}

#backplateComponent {
  background: rgb(240, 244, 244);
  margin: auto;
}

.inComponent {
  background-color: rgb(240, 244, 244);
  color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chooseButton {
  align-items: center;
  font-family: $primary-font;
  width: 25px;
  height: 25%;
  background-color: rgb(240, 244, 244);
  color: $primary;
  padding-right: 30px;
  border-color: rgb(149, 178, 190);
}

#selectionComponent {
  font-family: $primary-font;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: solid;
  border-left-color: black;
  padding-left: 15px;
  gap: 10px;
  background: rgb(238, 246, 246);
  text-align: left;
  padding-bottom: 2%;
  h2 {
    padding: 2%;
  }
}

#selection {
  text-align: left;
}

.selectionButton {
  font-family: $primary-font;
  flex-grow: 0.15;
  width: 25%;
  background-color: rgb(240, 244, 244);
  color: $primary;
  padding-right: 10px;
  border-color: rgb(149, 178, 190);
}

.selectionButton:hover {
  //   color: black;
  //   background-color: rgb(110, 171, 195);
  border-color: rgb(110, 171, 195);
  box-shadow: rgb(110, 171, 195) 0px 5px 15px;
}

#componentContainer {
  font-family: $primary-font;
  background: rgb(238, 246, 246);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 2%;
  padding-bottom: 2%;
}

#resetButton,
#goBackButton {
  font-family: $primary-font;
  background-color: rgb(240, 244, 244);
  border-color: rgb(149, 178, 190);
  color: $primary;
  position: absolute;
  bottom: 10%;
  right: 1%;
}

#resetButton:hover,
#goBackButton:hover {
  //   color: black;
  //   background-color: rgb(110, 171, 195);
  border-color: rgb(110, 171, 195);
  box-shadow: rgb(110, 171, 195) 0px 0px 5px;
}
